body a {
    text-decoration: none;
    color: #D8D8D8;
}

body a:hover {
    color: #fff;
}

body {
    margin: 0px auto;
}
header {
    height: 100px;
    background-color: #2E2E2E;
}
.main_container {
    background-color: #424242;
    color: #F2F2F2;
}
.navigation_menu {
    border: 1px solid #fff
}
header img {
    float: left;
    height: 100px;
    border-radius: 999px;
}

header aside h2 {
    float: right;
}

footer {
    background-color: #2E2E2E;
    height: 50px;
}

.container-md {
    background-color: #2E2E2E;
    color:#F2F2F2 ;
}

.ads img {
    width: 50%;
}

h2 {
    color: #fff;
}

footer li {
    list-style-type: none;
    float: left;
}

footer b {
    float: right;
    color : #fff;
}

table.FirstTable {
    max-width: 40%;
}

td {
    width: 50%;
    text-align: center;
}

th {
    background: #120A2A;
}

th,
td {
    border: 1px solid #fff;
}

tr.table1 {
    font-weight: normal;
    color: #D8D8D8;
}

tr.table2 {
    color: #F2F2F2;
    background: #120A2A;
}
img.adaptive{
    height: 100%;
    width: 100%;
}
